{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="alert alert-danger" role="alert">
  A simple primary alert—check it out!
</div>
<button type="button" class="btn btn-primary">Primary</button>
{% endblock %}
